<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Document.GetString("Title") -  @Context.Settings.GetString("SiteTitle")</title>

    <meta name="color-scheme" content="light dark" />
    <meta name="description" content="Personal GitHub Pages site for iminet" />
    <link rel="stylesheet" href="@Context.GetLink("/css/style.css")" asp-append-version="true">
    <link rel="icon" href="@Context.GetLink("images/favicon.png")" sizes="32x32" type="image/png">
    <link rel="shortcut icon" href="@Context.GetLink("images/favicon.ico")">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="@Context.GetLink("sitemap.xml", true)">
    <link rel="alternate" type="application/rss+xml" href="@Context.GetLink("feed.rss", true)" title="@(Context.Settings.GetString("SiteTitle")) RSS" />

    <link rel="canonical" href="@Document.GetLink(includeHost: true)" />

    <!-- OpenGraph -->
    <open-graph 
      type="website" 
      site-name="@Context.Settings.GetString("SiteTitle")" 
      description="@(Document.Get<string>("Description"))"
      url="@Document.GetLink(includeHost: true)"
      title="@Document.GetString("Title")"
      image="@(Context.GetLink("images/og.png", true))"
    />
    <!-- OpenGraph -->

    <!-- Google Analytics start -->
    <google-analytics measurement-id="@Context.Settings.GetString("GoogleGtagId")" />
    <!-- Google Analytics end -->
    
</head>
<body>
    <header class="topbar">
    <div class="topbar-inner">
      <a class="logo" href="/">iminet<span>github</span></a>

      <nav class="nav" aria-label="Primary navigation">
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#links">Links</a>
        <a href="/contact/">Contact</a>
      </nav>
    </div>
  </header>

  <main class="main">
    <div class="main-inner">
        @RenderBody()
    </div>
  </main>

  <footer class="footer">
    <div class="footer-inner">
      <div>© @DateTime.Now.Year Iminetsoft</div>
      <div>
        Built exclusively for my GitHub Home | <a href="@Context.Settings.GetString("SiteUrl")">@Context.Settings.GetString("SiteUrl")</a>
      </div>
    </div>
  </footer>
</body>
</html>
